version: '3.8'

services:
  db:
    image: postgres:18
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: rahul.123*
      POSTGRES_DB: order_tracking
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql 

volumes:
  postgres_data:
